body {
    background-color: #F8EFD3;
}
 
#logo{
   margin-left: 10%;
     width: 199px;
   height: 126.17px;
   display: inline;
 }

ul {
    float: right;
    margin-right: 7%;
    margin-top: 60px;
}
li {
    display: inline;
    padding: 10px;
    margin: 20px;
    font-family: gotham, sans-serif;
    text-transform: uppercase;
    font-size: small;
    font-weight: bold;
    color: #231F20;
}

h1{
    font-family: alverata-irregular, serif;
    font-weight: 700;
    font-style: normal;
    font-size: 7rem;
    margin-left: 10%;
    margin-top: 85px;
    color: #231F20;
}

#secondline {
    text-decoration: underline;
    margin-top: 0;
}

h2 {
    font-family: alverata-irregular, serif;
    font-style: normal;
    font-size: 45px;
    margin-left: 10%;
    margin-top: 4%;
    line-height: 53px;
    color:#231F20;
}

button{
background-color:#F8EFD3;
font-family: gotham, sans-serif;
text-transform: uppercase;
font-size: medium;
font-weight: 700;
border-radius: 25px;
padding: 12px 35px;
margin-left: 10%;
margin-top: 7%;
color:#231F20;
border: 2px solid #231F20;
}

button:hover{
    background-color: #231F20;
    color: #F8EFD3;
}

button:focus {
    outline: none;
}

/* button animation */
.fade-in-left {
    animation: fade-in-left 10s ease;
  }
  @keyframes fade-in-left {
    0% {
      opacity: 0;
      transform: translateX(-20px);
    }
    50% {
        opacity: 0;
        transform: translateX(-20px);
    }
    100% {
      opacity: 1;
      transform: translateX(0);
    }
  }

#firstrow {
margin-top: 85px;
}

.column {
    float: left;
    width: 50%;
}
    .row::after {
        content: "";
        clear: both;
        display: table;
    }

    #luma{
        margin: 0;
    }
img {
    display: block
}

/* navigation animations */
a, a:hover {
    color: #231F20;
    text-decoration: none;
  }
  
  li {
    display: inline-block;
    position: relative;
  }
  /* li:last-child { */
    /* margin-right: 0; */
  /* } */
  
  li:after {
    content: '';
    display: block;
    margin: 3px auto auto auto;
    height: 1px;
    width: 0px;
    background: transparent;
    transition: width .3s ease, background-color .3s ease;
  }
  
  li:hover:after {
    width: 100%;
    background: #000;
  }

  #footerlogo {
    display: inline;
    margin-left: 117px;
    width: 6%;
    margin-top: 40px;
    align-items: baseline;
}

footer {
    background-color: #231F20;
    height: 120px;
}

#footernav {
    margin-top: 20px;
}

.footerinline{
    display: inline-block;
    padding-bottom: 10px;
    margin-left: 0;
    margin-right: 0;
}

/* Hamburger */

.menu {
    width: 33px;
    height: 33px;
    padding: 0;
    display: block;
    cursor: pointer;
    position: relative;
    float: right;
    margin-top: 8%;
    right: 50px;
    z-index: 1;
  }
  
  .menu span {
    cursor: pointer;
    height: 2px;
    width: 33px;
    margin-bottom: 8px;
    background: #231F20;
    position: relative;
    right: 0;
    display: block;
    transform: rotate(0deg);
    transition: .7s ease;
  }
  
  .hidden {
    opacity: 0;
    transition-delay: .5s;
    pointer-events: none;
    cursor: default;
  }
  
  .visible {
    opacity: 1;
  }
  
  .menu.open span:nth-child(1) {
    top: 10px;
    transform: rotate(135deg);
    transition: .7s ease;
    background: #F8EFD3;
  }
  
  .menu.open span:nth-child(2) {
    opacity: 0;
    right: 100px;
    background: #F8EFD3;
  }
  
  .menu.open span:nth-child(3) {
    top: -10px;
    transform: rotate(-135deg);
    transition: .7s ease;
    background: #F8EFD3;
  }
  
  #navigation {
    background: #231F20;
    font-family: alverata-irregular, serif;
    color: #F8EFD3;
    font-weight: 400;
    font-size: 40px;
    width: 100vw;
    height: 100vh;
    position: absolute;
    left: 0;
    top: 0;
  }

  .nav {
    display: flex;
    justify-content: center;
  }
  
  .slideInLeft {
    animation-duration: .5s;
  }
  
  .slideOutLeft {
    animation-duration: .5s;
  }
  
  .hamburgerList {
     list-style-type: none;
  }
  .hamburgerItem {
    display: block;
    font-family: alverata-irregular, serif;
    color: #F8EFD3;
    text-decoration: none;
    font-size: larger;
    text-transform: none;
    padding: 10px 0;
    margin-left: 5%;
  }

  .hamburgerItem:hover:after {
    width: 100%;
    background: #F8EFD3;
  }

  .hamburgerItem a:hover{
      color: #F8EFD3;
  }

/* Hover image */
span {
    font-family: gotham, sans-serif;
    text-transform: uppercase;
    font-weight: bold;
    color: #231F20;
    position: center;
    text-align: center;
    float: left;
    width: 100%;
}

.projectName{
    font-family: alverata-irregular, serif;
    text-transform: none;
    font-size: xx-large;
    opacity: 0;
    color:#F8EFD3;
    padding-bottom: 1%;
}
.projectDescription{
    opacity: 0;
    color:#F8EFD3;
    font-size: small;
}

.inner {
    margin-top: -40%;
    width: 100%;
}

.textBlack{
    color:#231F20;
}
.column .orange {
	background: #DA5227;
}
.column .green {
	background: #00A651;
}
.column .pink {
	background: #FBC6B9;
}
.column .black {
	background: #231F20;
}
.column .blue {
	background: #344BE1;
}
.column .brown {
	background: #C08F3B;
}
.column figure img {
	opacity: 1;
	-webkit-transition: .3s ease-in-out;
	transition: .3s ease-in-out;
}
.column figure:hover img {
	opacity: 0;
}

.column:hover .projectName {
    opacity: 1;
}
.column:hover .projectDescription{
    opacity: 1;
}

/* WideImage */
/* .wideInner { */
    /* margin-top: -20%; */
    /* width: 100%; */
/* } */
/* .wideImage figure img { */
	/* opacity: 1; */
	/* -webkit-transition: .3s ease-in-out; */
	/* transition: .3s ease-in-out; */
/* } */
/* .wideImage figure:hover img { */
	/* opacity: 0; */
/* } */
/*  */
/* .wideImage:hover .projectName { */
    /* opacity: 1; */
/* } */
/* .wideImage:hover .projectDescription{ */
    /* opacity: 1; */
/* } */
/* .wideImage .brown { */
	/* background: #C08F3B; */
/* } */
/* .wideImage .blue { */
	/* background: #344BE1; */
/* } */

/* Media Screen */

@media screen and (max-width:1920px) {
    h1{
        font-size: 7rem;
    }
    
}
  @media screen and (max-width: 1000px) {
    #navlist {
        display: none;
    }
    h1{
        font-size: 57px;
    }
    h2{
        font-size: 30px;
        line-height: 35px;
        margin-top: 4%;
    }
}

@media screen and (min-width: 1000px) {
    .menu{
        display: none;
    }
}

/* Tablet width */
@media screen and (max-width: 780px) {
    h1 {
        font-size: 40px;
    }
    #logo {
        width: 116px;
        height: 73.8px;
    }
    h2 {
        font-size: 25px;
        line-height: 30px;
        margin-top: 4%;
    }
    footer{
        height: 80px;
        margin-bottom: 0;
    }
    .footerinline{
        margin-bottom: 3px;
        padding-bottom: 0;
        margin-top: 0;
    }
    #footerlogo{
        margin-top: 20px;
        width: 10%;
    }
    .projectName{
      font-size: x-large;
    }
}

/* Phone width */
@media screen and (max-width: 500px) {
    h1 {
        font-size: 35px;
    }
    #logo {
        width: 132px;
        height: 83.5px;
    }
    h2 {
        font-size: 20px;
        line-height: 25px;
    }
    button{
        margin-left: 62px;
    }
    .column{
        width: 100%;
    }

    .projectImages{
        height: 50%;
    }

    #footerlogo{
        margin-top: 25px;
        margin-left: 40px;
        width: 15%;
    }
    .projectName{
      font-size: x-large;
    }
}

/* Preloader */
/* -------------------------------- */ 

.preloader{
    position: absolute;
    width: 100vw;
    height: 100vh;
    background-color: #231F20;
    margin: 0;
}

*, *::after, *::before {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

html * {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

html {
  font-size: 62.5%;
}

b {
  font-family: alverata-irregular, serif;
  font-weight: 300;
  font-style: normal;
  font-size: 5rem;
  color:#F8EFD3;
  text-transform: none;
}

a {
  text-decoration: none;
}

.cd-title {
  position: relative;
  height: 160px;
  line-height: 230px;
  text-align: center;
}
.cd-title h1 {
  font-size: 2.4rem;
}

.preloaderLogo {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 5%; 
  margin-top: 40%; 
}

@media only screen and (min-width: 768px) {
  .cd-title {
    line-height: 250px;
  }
}
@media only screen and (min-width: 1170px) {
  .cd-title {
    height: 200px;
    line-height: 300px;
  }
  .cd-title h1 {
    font-size: 3rem;
  }
}

.cd-intro {
  width: 90%;
  max-width: 768px;
  text-align: center;
}

.cd-intro {
  margin: 4em auto;
}
@media only screen and (min-width: 768px) {
  .cd-intro {
    margin: 5em auto;
  }
}
@media only screen and (min-width: 1170px) {
  .cd-intro {
    margin: 6em auto;
  }
}

.cd-headline {
  font-size: 3rem;
  line-height: 1.2;
}
@media only screen and (min-width: 768px) {
  .cd-headline {
    font-size: 4.4rem;
    font-weight: 300;
  }
}
@media only screen and (min-width: 1170px) {
  .cd-headline {
    font-size: 6rem;
  }
}

.cd-words-wrapper {
  display: inline-block;
  position: relative;
  text-align: center;
  width: 600px;
}
.cd-words-wrapper b {
  display: inline-block;
  position: absolute;
  white-space: nowrap;
  left: 0;
  top: 0;
}
.cd-words-wrapper b.is-visible {
  position: relative;
}
.no-js .cd-words-wrapper b {
  opacity: 0;
}
.no-js .cd-words-wrapper b.is-visible {
}

/* -------------------------------- 

xpush 

-------------------------------- */
.cd-headline.push b {
  opacity: 0;
}
.cd-headline.push b.is-visible {
  opacity: 1;
  -webkit-animation: push-in 0.6s;
  -moz-animation: push-in 0.6s;
  animation: push-in 0.6s;
}
.cd-headline.push b.is-hidden {
  -webkit-animation: push-out 0.6s;
  -moz-animation: push-out 0.6s;
  animation: push-out 0.6s;
}

@-webkit-keyframes push-in {
  0% {
    opacity: 0;
    -webkit-transform: translateX(-100%);
  }
  60% {
    opacity: 1;
    -webkit-transform: translateX(10%);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateX(0);
  }
}
@-moz-keyframes push-in {
  0% {
    opacity: 0;
    -moz-transform: translateX(-100%);
  }
  60% {
    opacity: 1;
    -moz-transform: translateX(10%);
  }
  100% {
    opacity: 1;
    -moz-transform: translateX(0);
  }
}
@keyframes push-in {
  0% {
    opacity: 0;
    -webkit-transform: translateX(-100%);
    -moz-transform: translateX(-100%);
    -ms-transform: translateX(-100%);
    -o-transform: translateX(-100%);
    transform: translateX(-100%);
  }
  60% {
    opacity: 1;
    -webkit-transform: translateX(10%);
    -moz-transform: translateX(10%);
    -ms-transform: translateX(10%);
    -o-transform: translateX(10%);
    transform: translateX(10%);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateX(0);
    -moz-transform: translateX(0);
    -ms-transform: translateX(0);
    -o-transform: translateX(0);
    transform: translateX(0);
  }
}
@-webkit-keyframes push-out {
  0% {
    opacity: 1;
    -webkit-transform: translateX(0);
  }
  60% {
    opacity: 0;
    -webkit-transform: translateX(110%);
  }
  100% {
    opacity: 0;
    -webkit-transform: translateX(100%);
  }
}
@-moz-keyframes push-out {
  0% {
    opacity: 1;
    -moz-transform: translateX(0);
  }
  60% {
    opacity: 0;
    -moz-transform: translateX(110%);
  }
  100% {
    opacity: 0;
    -moz-transform: translateX(100%);
  }
}
@keyframes push-out {
  0% {
    opacity: 1;
    -webkit-transform: translateX(0);
    -moz-transform: translateX(0);
    -ms-transform: translateX(0);
    -o-transform: translateX(0);
    transform: translateX(0);
  }
  60% {
    opacity: 0;
    -webkit-transform: translateX(110%);
    -moz-transform: translateX(110%);
    -ms-transform: translateX(110%);
    -o-transform: translateX(110%);
    transform: translateX(110%);
  }
  100% {
    opacity: 0;
    -webkit-transform: translateX(100%);
    -moz-transform: translateX(100%);
    -ms-transform: translateX(100%);
    -o-transform: translateX(100%);
    transform: translateX(100%);
  }
}


/* body { */
	/* animation-name: backgroundColorPalette; */
	/* animation-duration: 3s; */
	/* animation-iteration-count: infinite; */
	/* animation-direction: alternate; */
	/* animation-timing-function: linear;  */
	/* linear is enabled default, it’s not necessary to add it make it work but it can make your code more expressive */
/* } */
/*  */
/* @keyframes backgroundColorPalette { */
	/* 0% { */
		/* background: #00A651; */
	/* } */
	/* 100% { */
		/* background: #344BE1; */
	/* } */
